<p-tabView>
    <!-- <p-tabPanel header="Message System Properties">
        <div *ngIf="topic">
            <li *ngFor="let item of objectKeys(message.messageSystemProperties)">
                <strong>{{item}}</strong> : {{ objectValue(message.messageSystemProperties, item)}}
            </li>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Message Custom Properties">
        <li *ngFor="let item of objectKeys(message?.messageCustomProperties)">
            <strong>{{item}}</strong> : {{ objectValue(message?.messageCustomProperties, item)}}
        </li>
    </p-tabPanel>
    <p-tabPanel header="Json Response">
        <p>
            {{topic?.}}
        </p>
    </p-tabPanel> -->
</p-tabView>